<head>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <meta property="og:description" content="" />
    <meta property="og:url" content="https://concretepoetry.netlify.app/" />
    <meta property="og:title" content="Remediation Project | Like Attracts Like" />
  
    <title>Concrete Poetry | {{ page.title }}</title>
    <link rel="shortcut icon" href="/assets/like_attracts_like_typewritten.jpg" type="image/jpg">  
  
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>

    <link rel="stylesheet" href="/styles/styles.css">
  </head>
