<center>
    <div class="nav">
		<h1 id="form-title">concrete poetry</h1>
		<div id="slider">
            <!-- <nav-item>hello</nav-item> -->
			<input type="radio" name="amount" id="1" value="view" checked='check' href="/">
			<label for="1" amount="poetry [view]"></label>
			<input type="radio" name="amount" id="2" value="type" href="/type/">
			<label for="2" amount="[type]"></label>
			<input type="radio" name="amount" id="3" value="animate">
			<label for="3" amount="[animate]"></label>
			<input type="radio" name="amount" id="4" value="multiply">
			<label for="4" amount="[multiply]"></label>
			<input type="radio" name="amount" id="5" value="watch">
			<label for="5" amount="concrete [watch]"></label>
			<div id="amount-pos"></div>
		</div>
	</div>
</center>